body {
     background-color: rgb(141,170,157);
     font-family: Calibri, 'Courier New';
}

.blue-background {
     background-color: rgb(6,108,156);
}

.dark-brown-background {
     background-color: rgb(36, 33, 30);
}

.golden-yellow-text {
     color: rgb(233,219,18);
}

#wrapper {
     width: 50em;
     background-color: rgba(0, 0, 0, .5);
     border-radius: .4em;
     margin: auto;
     margin-top: 80px;
     border: 1px thin white;
     padding: .2em .5em;
     color: white;
     height: auto;
}

h1 {
     color: yellow;
     text-align: center;
     margin: 0;
     font-size: .7em;
     font-weight: 100;
     padding: .2em;
}

#main-content-div {
     background-color: rgb(74, 68, 62);
     border: 5px solid white;
     border-radius: .4em;
     padding: .8em;
}

.borders-in-main-content {
     border: 1px solid black;
     border-radius: .3em;
}

.row-div {
     margin-left: auto;
     margin-right: auto;
     text-align: center;
     display: block;
}

.first-row-columns-divs {
     box-sizing: border-box;
     display: inline-block;
     text-align: center;
     width: 33%;
     margin-bottom: .3em;
     font-size: 1.5em;
}

#second-row-column-div {
     font-size: .8em;
     text-align: center;
     padding: .3em 0 .6em 0;
}

#chance-time-disclaimer {
     color: gold;
     font-weight: bold;
     font-size: 2em;
}

#warning-img {
     width: .8em;
     height: .8em;
}

.third-row-column-divs {
     display: inline-block;
     margin-top: 1%;
}

.item-img {
     box-sizing: border-box;
     width: 35%;
     height: 14em;
     float: left;
}

#status-div {
     box-sizing: border-box;
     text-align: left;
     width: 64%;
     margin-left: 1%;
     height: 7em;
     padding: 2% 2%;
     font-size: 2em;
}

.fourth-row-column-divs {
     box-sizing: border-box;
     display: inline-block;
     margin-top: .7em;
     font-size: .7em;
     width: 49.5%;
}

     .fourth-row-column-divs div {
          box-sizing: border-box;
          padding-left: 1em;
          margin-top: .4em;
          float: left;
          font-size: 1.2em;
          padding-bottom: .3em;
          color: rgb(170,170,150);
     }

     .fourth-row-column-divs input {
          box-sizing: border-box;
          float: right;
          margin-top: .7em;
          margin-right: 2em;
     }

.fifth-row-column-divs {
     margin-top: .2em;
     text-align: left;
}

     .fifth-row-column-divs div {
          display: inline-block;
          width: 40%;
          color: rgb(170,170,150);
          padding-bottom: .4em;
     }

#mesos-amt-div {
     font-size: 1.3em;
     color: white;
     margin-left: 5em;
}

#coin-img {
     display: inline-block;
     width: 1em;
     height: 1em;
     margin-left: .8em;
     border-radius: 1em;
     margin-top: .5em;
}

.sixth-row-column-divs {
     display: inline-block;
}

#sixth-row-div {
     margin: 1em auto .5em auto;
     display: block;
     text-align: center;
}

#enhance-button {
     float: right;
     width: 20em;
     height: auto;
     margin-right: 2em;
     border-radius: 1em;
}

#cancel-button {
     float: left;
     width: 20em;
     height: auto;
     border-radius: 1em;
}

.context-menu {
     position: absolute;
     z-index: 10;
     display: none;
     background-color: rgb(246,239,166);
}

     .context-menu ul {
          height: 12em;
          list-style-type: none;
          padding: 0;
          margin: 0;
          overflow: hidden;
          overflow-y: scroll;
     }

     .context-menu li {
          border: 1px solid black;
          text-align: center;
     }

.context-menu-headings {
     font-weight: bolder;
     padding: .3em;
     text-decoration: underline;
     background-color: black;
     color: rgb(246,239,166);
}

.context-menu-item button {
     text-align: left;
     padding:1em;
}

.context-menu button:hover {
     background-color: lightslategrey;
}

.context-menu button {
     background-color: rgb(246,239,166);
     border: none;
     width: 100%;
     height: 3em;
}

.context-menu--active {
     display: block;
}

#system-stats {
     border: none;
     width: 10em;
     margin: auto;
     margin-top: 1em;
     padding: .5em;
     color: black;
     text-align: center;
     background-color: rgb(246,239,166);
     font-size: 1.5em;
}

#highest-star-record-span, #booms-record-span {
     text-decoration: underline;
}
